.our_depertment {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  
  @media (max-width: 991px) {
    /* line 1, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
    .our_depertment {
      padding: 70px 0 30px;
    }
  }
  
  /* line 12, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1c19ab;
    opacity: 0.8;
    z-index: -1;
  }
  
  /* line 24, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment .depertment_content {
    background-color: #fff;
    padding: 100px 0;
    margin-top: -652px;
  }
  
  @media (max-width: 991px) {
    /* line 24, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
    .our_depertment .depertment_content {
      margin-top: 0;
      background-color: transparent;
      padding: 0;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 24, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
    .our_depertment .depertment_content {
      margin-top: -170px;
      padding: 80px 15px 20px;
    }
  }
  
  /* line 39, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment .depertment_content h2 {
    font-size: 44px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 80px;
  }
  
  @media (max-width: 991px) {
    /* line 39, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
    .our_depertment .depertment_content h2 {
      margin-bottom: 60px;
      color: #fff;
      line-height: 50px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 39, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
    .our_depertment .depertment_content h2 {
      font-size: 35px;
    }
  }
  
  /* line 57, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment .single_our_depertment {
    position: relative;
    border: 1px solid #f2f6f8;
    padding: 60px 15px 32px;
    margin-bottom: 60px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  
  @media (max-width: 991px) {
    /* line 57, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
    .our_depertment .single_our_depertment {
      margin-top: 0;
      background-color: #fff;
      margin-bottom: 40px;
    }
  }
  
  /* line 72, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment .single_our_depertment .our_depertment_icon {
    height: 50px;
    width: 50px;
    background-color: #f2f6f8;
    display: inline-block;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -25px;
  }
  
  /* line 85, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment .single_our_depertment .our_depertment_icon img {
    max-width: 25px;
  }
  
  /* line 90, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment .single_our_depertment h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 27px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  
  /* line 98, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment .single_our_depertment p {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  
  /* line 102, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment .single_our_depertment:hover {
    background-color: #0065e1;
    border: 1px solid #0065e1;
  }
  
  /* line 106, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_our_depertment.scss */
  .our_depertment .single_our_depertment:hover h4,
  .our_depertment .single_our_depertment:hover p {
    color: #fff;
  }
  