.banner_part {
    height: 935px;
    position: relative;
    overflow: hidden;
    background-image: url(../../../../public/banner_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
  
  @media (max-width: 991px) {
    /* line 2, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part {
      background-image: none;
      background-color: #f7f7f7;
      height: 650px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 2, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part {
      height: 650px;
    }
  }
  
  /* line 21, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
  .banner_part .banner_text {
    display: table;
    width: 100%;
    height: 935px;
  }
  
  /* line 26, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
  .banner_part .banner_text .banner_text_iner {
    display: table-cell;
    vertical-align: middle;
  }
  
  @media (max-width: 991px) {
    /* line 26, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part .banner_text .banner_text_iner {
      vertical-align: middle;
      padding-top: 0;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 26, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part .banner_text .banner_text_iner {
      padding-top: 0;
      padding-top: 100px;
    }
  }
  
  @media (max-width: 576px) {
    /* line 21, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part .banner_text {
      text-align: center;
      padding-top: 0px;
      height: 650px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 21, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part .banner_text {
      text-align: center;
      padding-top: 0px;
      height: 650px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 21, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part .banner_text {
      text-align: center;
      padding-top: 0px;
      height: 650px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 21, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part .banner_text {
      height: 650px;
    }
  }
  
  /* line 63, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
  .banner_part .banner_text h5 {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    color: #242429;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
  }
  
  /* line 72, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.2;
  }
  
  @media (max-width: 576px) {
    /* line 72, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part .banner_text h1 {
      font-size: 25px;
      margin-bottom: 15px;
      line-height: 1.3;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 72, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part .banner_text h1 {
      font-size: 40px;
      margin-bottom: 15px;
      line-height: 1.3;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 72, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part .banner_text h1 {
      font-size: 40px;
      margin-bottom: 15px;
      line-height: 1.3;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 72, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part .banner_text h1 {
      font-size: 40px;
      margin-bottom: 15px;
      line-height: 1.4;
    }
  }
  
  /* line 103, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
  .banner_part .banner_text h1 span {
    color: #0065e1;
  }
  
  /* line 108, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
  .banner_part .banner_text p {
    font-size: 15px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    color: #242429;
    padding-right: 20px;
  }
  
  /* line 116, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
  .banner_part .banner_text .btn_2 {
    margin-top: 50px;
  }
  
  @media (max-width: 991px) {
    /* line 116, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part .banner_text .btn_2 {
      margin-top: 20px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 116, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part .banner_text .btn_2 {
      margin-top: 20px;
    }
  }
  .banner_part .banner_img {
    padding-top: 0;
    margin-top: -15%;
  }
  @media (max-width: 991px) {
    /* line 129, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part .banner_img {
      display: none;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* line 2, ../../01 cl html template/03_jun 2019/182_medico_html/sass/_banner.scss */
    .banner_part {
      margin-top: 20px;
    }
  }
  