<section class="about_us padding_top" id="about">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 col-lg-6">
                <div class="about_us_img">
                    <img src="top_service.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="about_us_text">
                    <h2>About us</h2>
                    <p>At our hospital, we are dedicated to providing compassionate and expert care to our patients. With a team of experienced doctors and healthcare professionals, we focus on delivering personalized treatments that cater to your unique needs. Your health and comfort are our top priority.</p>
                    <a class="btn_2 " href="#">learn more</a>
                    <div class="banner_item">
                        <div class="single_item">
                            <img src="icon/banner_1.svg" alt="">
                            <h5>Emergency</h5>
                        </div>
                        <div class="single_item">
                            <img src="icon/banner_2.svg" alt="">
                            <h5>Appointment</h5>
                        </div>
                        <div class="single_item">
                            <img src="icon/banner_3.svg" alt="">
                            <h5>Qualfied</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>