<section class="doctor_part section_padding" id="doctors">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <h2> Experienced Doctors</h2>
                    <p>Face replenish sea good winged bearing years air divide wasHave night male also</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="doctor/doctor_1.png" alt="doctor">
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>DR Adam Billiard</h3>
                            <p>Heart specialist</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="doctor/doctor_4.png" alt="doctor">
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>DR Nick Jones</h3>
                            <p>Medicine specialist</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="doctor/doctor_2.png" alt="doctor">
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>DR Fred Macyard</h3>
                            <p>CHeart specialist</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="doctor/doctor_3.png" alt="doctor">
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>DR Justin Stuard</h3>
                            <p>Heart specialist</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>